/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 12, 2016, 2:19:40 PM
    Author     : DragosGabor
*/

input{
    margin-top: 2%;
    margin-right: 5px;
    display:inline-block;
}

.formRoom{
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.formRoom fieldset{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    
}

.tableRoom thead td{
    padding-left: 5px;
    padding-right: 5px;
}